@model RegisterViewModel
<head>
    <link href=@Url.Content("~/styles/app.css") rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form asp-controller="Auth" asp-action="Register" method="post">
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="header">Sign Up</div>
        <div class="block">
            <div class="form-group">
                <label asp-for="Username"><b>Username</b></label>
                <input asp-for="Username" class="input" type="text" placeholder="Create username" required/>
                <span asp-validation-for="Username"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"><b>Email</b></label>
                <input asp-for="Email" class="input" type="text" placeholder="example@gmail.com" required/>
                <span asp-validation-for="Email"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"><b>Password</b></label>
                <input asp-for="Password" class="input" type="password" placeholder="Create Password" required/>
                <span asp-validation-for="Password"></span>
            </div>

            <div class="form-group">
                <input asp-for="ConfirmPassword" class="input" type="password" placeholder="Confirm your password" required/>
                <span asp-validation-for="ConfirmPassword"></span>
            </div>

            <div>
                <button type="submit">Sign up</button>
            </div>

            <div>
                <label>
                <input type="checkbox" checked="checked" class="remember"> Remember me
                </label>
            </div>

            <div style="background-color: #f1f1f1;">
                <button type="button" class="cancelbtn">Cancel</button>
            </div>

                <span class="psw"><b>Already have an account?
                    <a asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl"> Sign in</a></b></span>
            
        </div>
    </form>
</body>